.main-layout {

    display: flex;

    min-height: 100vh;

}

.main-content {

    flex: 1;

    margin-left: 260px;

    padding: 30px;

    transition: .3s;

}

.main-content.full {

    margin-left: 0;

}