.profile-page {

    padding: 30px;

    display: flex;

    flex-direction: column;

    gap: 30px;

}

.profile-top {

    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 20px;

}

@media(max-width:900px) {

    .profile-top {

        grid-template-columns: 1fr;

    }

}