.sidebar{

    width:230px;

    background:#111827;

    min-height:calc(100vh - 60px);

    display:flex;

    flex-direction:column;

}

.sidebar a{

    color:white;

    text-decoration:none;

    padding:18px;

    transition:0.3s;

}

.sidebar a:hover{

    background:#374151;

}