.submission-table-container {

    background: #263344;

    border-radius: 12px;

    overflow: hidden;

    box-shadow: 0 6px 20px rgba(0, 0, 0, .12);

}

.submission-table {

    width: 100%;

    border-collapse: collapse;

}

.submission-table th {

    background: #1f2937;

    color: white;

    padding: 16px;

    text-align: center;

}

.submission-table td {

    padding: 16px;

    text-align: center;

    color: white;

}

.submission-table tbody tr {

    border-bottom: 1px solid #263344;

    transition: .2s;

}

.submission-table tbody tr:hover {

    background: #1f2937;

}

.language-badge {

    display: inline-block;

    padding: 6px 12px;

    border-radius: 20px;

    background: #e0f2fe;

    color: #0369a1;

    font-weight: 600;

}

.status {

    display: inline-block;

    padding: 6px 14px;

    border-radius: 20px;

    font-weight: 600;

}

.accepted {

    background: #dcfce7;

    color: #166534;

}

.wrong-answer {

    background: #fee2e2;

    color: #991b1b;

}

.compilation-error {

    background: #ffedd5;

    color: #c2410c;

}

.runtime-error {

    background: #ede9fe;

    color: #6d28d9;

}

.time-limit-exceeded {

    background: #fef3c7;

    color: #92400e;

}

.pending {

    background: #dbeafe;

    color: #1d4ed8;

}